huggingface-hub==0.16.4
numpy==1.24.3
openai==0.28.1
pandas==1.5.3
transformers==4.30.2
requests==2.31.0
fastapi==0.100.0
uvicorn==0.22.0
streamlit==1.24.0
python-multipart==0.0.6
altair==5.0.1
func_timeout==4.3.5
python-dotenv==1.0.0
tqdm==4.65.0

